<h2>Products</h2>
<button routerLink="../create-product" routerLinkActive="active" class="btn btn-success pull-right">
    Add Product
</button>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Part Number</th>
            <th>Product Label</th>
            <th>Starting Inventory</th>
            <th>Inventory received</th>
            <th>Inventory Shipped</th>
            <th>Inventory on Hand</th>
            <th>Minimum required</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td> {{ product.productName }}</td>
            <td> {{ product.partNumber }}</td>
            <td> {{ product.productLabel }} </td>
            <td> {{ product.startingInventory }}</td>
            <td> {{ product.inventoryReceived }}</td>
            <td> {{ product.inventoryShipped }} </td>
            <td> {{ product.inventoryOnHand }}</td>
            <td> {{ product.minimumRequired }}</td>
        </tr>
    </tbody>
</table> 